footer {
    background: $infraterra;
    padding: 1rem 0;
    font-weight: 300;

    .footer-container {
        position: relative;
        margin: 0 auto;
        color: #cecece;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        small {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 3rem;


            & > b > a {
                font-weight: 700;
                color: $bodybg;
            }

            .copyright-line:after {
                display: inline-block;
                margin: 1rem 2rem 0 2rem;
                content: '';
                width: 1px;
                height: 3rem;
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}



