.header {
    background: $infraterra;

    .header-container {
        width: 100%;
        padding-top: 0;

        .logo {
            padding: 4rem;
            height: auto;
            max-width: 40rem;

            img {
                height: 100%;
            }
        }

        .infobar {
            display: flex;

            .infobar-box {
                height: 6rem;
                width: 31rem;
                color: #cecece;
                text-align: center;

                &.con {
                    border-right: 1px solid rgba(255, 255, 255, 0.3);

                    & > a {
                        display: block;
                        text-align: right;
                        padding-right: 2rem;
                        margin-top: -0.5rem;
                    }

                    & > a > h4 {
                        letter-spacing: 0.2rem;
                    }

                    & > a.infobar-mail {
                        font-weight: 700;
                        margin-top: -1rem;
                    }

                    & > a,
                    & > a > h4 {
                        color: #cecece;

                        &:hover {
                            color: $bodybg;
                        }
                        & > i {
                            &.fa-phone {
                                padding-left: 0.5rem;
                                margin-right: 1rem;
                            }
                            font-size: 3rem;
                        }
                    }
                }

                &.lan {
                    border-right: 1px solid rgba(255, 255, 255, 0.3);
                    width: 10%;
                    padding-top: 1.5rem;

                    &.active h4,
                    &:hover h4 {
                        color: $bodybg;
                    }

                    h4 {
                        color: #cecece;
                    }
                }

                &.soc {
                    font-size: 3rem;
                    padding-left: 2rem;
                    padding-top: 1.5rem;
                    width: auto;

                    & > a {
                        color: #cecece;
                    }

                    & > a:hover {
                        color: $bodybg;
                    }

                    & > a > i.fa-linkedin {
                        padding-right: 2rem;
                    }
                }

                i {
                    float: left;
                    cursor: pointer;
                }
            }
        }
    }
}
