main {
  padding-top: 4rem;
  flex: 1;
}

.bloghr {
  margin: 6rem 0 3rem 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header-container,
nav,
.slider-item-infobox-container {
  padding: 4rem 0;
  margin: 0 auto;
}

section {
    padding: 5rem;
    margin: 0 auto;
}

//----------------------------------*\
// Slider on homepage
//----------------------------------*/
.slider {
  width: 100%;
  height: 50rem;
}

.slider-content {
  width: 100%;
  height: 50rem;
  background: red;
}

.slider-item-infobox-container {
  position: relative;
}

#slider-1 {
  background: url('../img/sliders/projektiranje-1.png');
  background-size: cover;
}

#slider-2 {
  background: url('../img/sliders/nadzor-1.jpg');
  background-size: cover;
}

#slider-3 {
  background: url('../img/sliders/gradjenje-1.jpg');
  background-size: cover;
}


.slider-item {
  width: 100%;
  height: 50rem;
}

.slider-item-infobox {
  position: relative;
  width: 58rem;
  height: 33rem;
  margin-top: 12rem;
  background: rgba(25, 93, 126, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  z-index: 80;
  padding: 3rem 5rem;

  h4 {
    margin-top: 0;
    padding: 0;
    color: $bodybg;
  }

  p {
    font-weight: 300;
    color: $bodybg;
  }

  & > hr {
    margin-bottom: 1rem;
    padding: 0;
  }

  a.button {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    background: $bodybg;
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

  }
}

//----------------------------------*\
// Blog items on homepage
//----------------------------------*/
.blog-date {
  display: inline-block;
  text-align: right;
  text-transform: uppercase;
  font-size: 1em;
  color: #cecece;
  width: 39%;
}

.blog-heading {
  display: inline-block;
  width: 60%;
}

.blog-images {
  text-align: center;
}
.blog-img {
  margin: 10rem;
  width: 30rem;
}

.blog-img2 {
  margin: 2rem;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

//----------------------------------*\
// Contacts page
//----------------------------------*/
.contacts-container {
    margin-top: -1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    #zg {
      text-align: left;
    }

    #kt {
      text-align: right;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-weight: 300;

        & > li {

            a {
                font-family: "Roboto";
                color: $bodytext;

            }

            .infraterra {
                font-family:"Reem Kufi";
                font-size: 2em;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                margin-bottom: 0;
                padding: 0;

                & + b {
                    font-size: 1.5em;
                    padding-left: 1rem;
                }
            }

            .fa {
                width: 1.5rem;
                display: inline-block;
                text-align: center;
                line-height: 1.5rem;
                margin-right: 1rem;

                &.fa-map-marker {
                    padding-top: 1rem;
                }
            }
        }
    }
}


.contacts-tab-links li:hover {
    color: $hover;
}

.map,
.contacts {
    height: 35rem;
}

.contacts {
    width: 35%;
    max-width: 440px;
    min-width: 320px;
}

.map {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 62.99%;
    margin-left: 10rem;
    margin-top: 1.5rem;
    max-width: 63rem;
    &:hover {
        box-shadow: 0 0 20px rgba(25, 93, 126, 0.2);
    }
}

ul.contacts-tab-links li {
    position: relative;
    text-transform: uppercase;
    padding: 1rem 0;
    width: 49%;
    display: inline-block;
    cursor: pointer;

    & > h4 {
        font-weight: 300;
    }

    &:last-of-type {
        text-align: right;
    }

    &:first-of-type:after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 1px;
        height: 6rem;
        background: rgba(0, 0, 0, 0.1);
    }
}

ul.contacts-tab-links li.active {

    & > h4 {
        font-weight: bold;
        color: $infraterra;
    }


    &:hover {
        color: $hover;
    }
}

.contacts-tab {
    display: none;
    padding: 1rem;
}

.contacts-tab.active {
    height: auto;
    display: inherit;
    position: relative;
    z-index: 10;
    background: $bodybg;
}

.info {
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #666;
    padding-top: 10rem;
    opacity: 0.8;
    margin: 0 auto;
    text-align: center
}


.infowindow {
  padding-left: 2rem;
  & > h1 {
    margin: 0;
    padding: 0;
  }

  & > h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
}

.gm-style-iw + div {
  display: none;
}



//----------------------------------*\
// Structure page
//----------------------------------*/
.upper {
  text-transform: uppercase;
  font-size: 1em;
  color: #cecece;
}

.structures-container {
  margin-top: -1rem;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 300;
  }
}

ul.structures-tab-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;

  & > li {
    position: relative;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    text-align: center;
    height: 3rem;

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      text-align: right;
    }

    &.active {
      & > h4 {
        font-weight: bold;
        color: $infraterra;
      }
    }

    &:hover {
      color: $hover;
    }

    & > h4 {
      font-weight: 300;
    }
  }
}

.structures-tab-divider {
  display: block;
  width: 1px;
  height: 6rem;
  background: rgba(0, 0, 0, 0.1);
}

.structures-tab {
    display: none;
}

.structures-tab.active {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

ul.structure-list {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;

  & > li {
    display: flex;
    justify-content: flex-start;
    margin: 2rem;
  }

  & > li > div > b > a {
    margin-bottom: -3rem;
    font-size: 1.20em;
    font-weight: 700;
  }

  & > li > div > a {
    font-size: 1.20em;
    font-weight: 300;
    & > i {
      margin-right: 1rem;
    }
  }
}
.structure-text {
  margin-top: 4rem;
}

//----------------------------------*\
// Reference page
//----------------------------------*/
.references-container {
  margin-top: -1rem;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 300;
  }
}

ul.references-tab-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;

  & > li {
    position: relative;
    text-transform: uppercase;
    display: block;
    width: 24rem;
    cursor: pointer;
    text-align: center;
    height: 3rem;

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      text-align: right;
    }

    &.active {
      & > h4 {
        font-weight: bold;
        color: $infraterra;
      }
    }

    &:hover {
      color: $hover;
    }

    & > h4 {
      font-weight: 300;
    }
  }
}

.references-tab-divider {
  display: block;
  width: 1px;
  height: 6rem;
  background: rgba(0, 0, 0, 0.1);
}

.references-tab {
    display: none;
}

.references-tab.active {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

ul.reference-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: flex-start;

  & > li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4rem;
    height: 20rem;
    width: 40rem;
  }

  & > li > a {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: 700;
  }

  & > li > a > img,
  & > li > img, {
    height: 15rem;
    width: 15rem;
    padding: 2rem;
    margin-bottom: 2rem;

    &:hover {
        box-shadow: 0 0 80px rgba(25, 93, 126, 0.4);
        transition: 0.8s;
    }
  }
}

ul.item-list {
  margin-top: 4rem;
  width: 100%;
  list-style-type: square;
  list-style-position: outside;
  margin-left: 2rem;

  & > li {

  }

  & > li > a {

  }
}

.references-title-path {
  display: inline-block;
  font-size: 1em;
  color: #cecece;
  text-transform: uppercase;
  width: 59.99%;
  text-align: right;
}

.ref-heading {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 40%;
}

ul.item-list {
  text-align: justify;
  & > li {
    display: list-item;
    margin-bottom: 2rem;
  }
}


