 nav.header-nav {
    position: relative;
    text-transform: uppercase;
    color: #cecece;
    font-weight: bold;
    z-index: 100;
    background: $bodybg;
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    margin-bottom: -8rem;
    padding: 2rem;

    & > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin-bottom: 0;

        li {
            display: block;
            list-style: none;
            height: 2rem;
            font-size: 2rem;

            .fa-home {
                margin-top: -0.5rem;
                font-size: 4rem;
            }

            &.active > a {
                color: $hover;
            }
        }

        .nav-divider {
            display: block;
            width: 1px;
            height: 4rem;
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

nav.footer-nav {
    text-transform: none;
    width: 60%;
    margin: 0;
    padding: 1rem 0 0 0;

    & > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: block;
            list-style: none;

            & > a {
                color: #cecece;

                &:hover {
                    color: $bodybg;
                }
            }

            .fa-home {
                margin-top: 0.5rem;
                font-size: 3rem;
            }

            &.active > a {
                color: white;
                font-weight: 700;
            }
        }

        .nav-divider {
            display: block;
            width: 1px;
            margin-top: -0.5rem;
            height: 3rem;
            background: rgba(255, 255, 255, 0.3);
        }
    }
}
