<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>Infraterra</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" href="{{ url('theme://assets/img/favicon.ico') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" />

        {% block stylesheets %}
            {% do assets.addCss('theme://assets/css/style.css', 100) %}
            {% do assets.addCss('fontawesome', 99) %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.addJs('jquery', {'priority': 100, 'group':'bottom'}) %}
            {% do assets.addJs('theme://assets/components/flickity/flickity.pkgd.min.js', {'priority': 99, 'group':'bottom'}) %}
            {% do assets.addJs('googlemaps', {'priority': 98, 'group':'bottom'}) %}
            {% do assets.addJs('theme://assets/js/scripts.min.js', {'priority': 97, 'group':'bottom'}) %}
        {% endblock %}
        {{ assets.js() }}
    {% endblock head %}
</head>
<body>
    {% block header %}
        <header class="header">
          <div class="header-container">
            <div class="logo">
              <a href="{{ base_url == '' ? '/' : base_url }}"><img src="{{url('theme://assets/img/logo.svg')}}" alt="Infraterra"></a>
            </div>
            <div class="infobar">
              <div class="infobar-box con">
                <a class="infobar-tel" href="tel:+38512479504"><i class="fa fa-phone"></i><h4>+385 1 2479 504</h4></a>
                <a class="infobar-mail" href="mailto:infraterra@infraterra.com.hr"><i class="fa fa-envelope"></i>infraterra@infraterra.com.hr</a>
              </div>
              {% include 'partials/langswitcher.html.twig' %}
              <div class="infobar-box soc"><a href="http://www.facebook.com/infraterracroatia"><i class="fa fa-facebook"></i></a></div>
              <div class="infobar-box soc"><a href="https://www.linkedin.com/company/infraterra-d-o-o-"><i class="fa fa-linkedin"></i></a></div>
            </div>
            <div class="clear"></div>
            <nav class="header-nav">
                {% block header_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
            </nav>
          </div>
        </header>
    {% endblock %}

    {% block body %}
      {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}
        <footer role="contentinfo">
            <div class="footer-container">
                <nav class="footer-nav">
                {% block footer_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
                </nav>
                <small>&copy; Copyright 2017 <span class ="copyright-line"></span><b><a href="#">Infraterra</a></b></small>
            </div>
        </footer>
    {% endblock %}

    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}
</body>
</html>
