<h4 class="blog-heading"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h4>
<span class="blog-date">
    <time datetime="{{ page.date|date("c") }}">
        <span>{{ page.date|date("d.") }}{{ page.date|date("m.") }}{{ page.date|date("Y.") }}</span>
    </time>
</span>
<div class="clear"></div>
<div class="blog-content">
{{ page.content }}
</div>
