{% set langobj = grav['language'] %}

{% for key in langswitcher.languages %}

    {% if key == langswitcher.current %}
        {% set lang_url = page.url %}
        {% set active_class = ' active' %}
    {% else %}
        {% set lang_url = base_url_simple ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route ?: '/' %}
        {% set active_class = '' %}
    {% endif %}

    <div class="infobar-box lan {{ active_class }}"><a href="{{ lang_url ~ uri.params }}"><h4>{{  native_name(key)|slice(0, 2)|upper }}</h4></a></div>

{% endfor %}

