<ul>
    {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        {% if page.template == 'blog' %}
        <li class="{{ current_page }}">
                <a href="{{ page.url }}"><i class="fa fa-home"></i></a>
        </li>
        {% else %}
        <span class="nav-divider"></span>
        <li class="{{ current_page }}">
            <a href="{{ page.url }}">{{ page.menu }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>

