<div class="slider">
  <div id="slider-1" class="slider-item">
    <div class="slider-item-infobox-container">
      <div class="slider-item-infobox">
        <h4>{{ page.header.one }}</h4>
        <hr>
        <p>{{ page.header.onecontent }}</p>
        <a href="#" class="button">{{ page.header.more }}</a>
      </div>
    </div>
  </div>
  <div id="slider-2" class="slider-item">
    <div class="slider-item-infobox-container">
      <div class="slider-item-infobox">
        <h4>{{ page.header.two }}</h4>
        <hr>
        <p>{{ page.header.twocontent }}</p>
        <a href="#" class="button">{{ page.header.more }}</a>
      </div>
    </div>
  </div>
  <div id="slider-3" class="slider-item">
    <div class="slider-item-infobox-container">
      <div class="slider-item-infobox">
        <h4>{{ page.header.three }}</h4>
        <hr>
        <p>{{ page.header.threecontent }}</p>
        <a href="#" class="button">{{ page.header.more }}</a>
      </div>
    </div>
  </div>
</div>
