{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}
    {% block content %}

        {% include 'partials/slider.html.twig' %}
        <main class="main" role="main">
            <section>
            <h1><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>
            <hr>
                {% for child in collection %}
                    {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':false} %}
                    <hr class="bloghr">
                {% endfor %}
            </section>
        </main>

    {% endblock %}
{% endembed %}


