{% extends 'partials/base.html.twig' %}

{% block content %}
  <main class="main" role="main">
    <section id="kontakt">
      <h1><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>
      <hr>
      <div class="contacts-container">
        <div class="contacts">
          <ul class="contacts-tab-links">
            <li id="zg" class="contacts-tab-link active" data-tab="tab-1"><h4>Zagreb</h4></li>
            <li id="kt" class="contacts-tab-link" data-tab="tab-2"><h4>Kutina</h4></li>
          </ul>
          <div id="tab-1" class="contacts-tab active">
            <ul>
              <li><a href="#"><span class="infraterra">Infraterra</span><b>d.o.o.</b></a></li>
              <li><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/rBgST8LWTZM2">Savska cesta 41/IX, 10000 Zagreb</a></li>
              <li><i class="fa fa-phone"></i><a href="tel:+38512479504">+385 1 2479 504</a></li>
              <li><i class="fa fa-fax"></i>+385 75 801 888</li>
              <li><i class="fa fa-envelope"></i><a href="mailto:infraterra@infraterra.com.hr">infraterra@infraterra.com.hr</a></li>
              <li><i class="fa fa-facebook"></i><a href="http://www.facebook.com/infraterracroatia">infraterracroatia</a></li>
              <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/company/infraterra-d-o-o-">infraterra-d-o-o</a></li>
            </ul>
          </div>
          <div id="tab-2" class="contacts-tab">
            <ul>
              <li><a href="#"><span class="infraterra">Infraterra</span><b>d.o.o.</b></a></li>
              <li><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/LRpSWEfBPRH2">Novo brdo 31A, Husain, 44320 Kutina</a></li>
              <li><i class="fa fa-phone"></i><a href="tel:+38544606128">+385 44 606 128</a></li>
              <li><i class="fa fa-fax"></i>+385 75 801 888</li>
              <li><i class="fa fa-envelope"></i><a href="mailto:infraterra@infraterra.com.hr">infraterra@infraterra.com.hr</a></li>
              <li><i class="fa fa-facebook"></i><a href="http://www.facebook.com/infraterracroatia">infraterracroatia</a></li>
              <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/company/infraterra-d-o-o-">infraterra-d-o-o</a></li>
            </ul>
          </div>
        </div>
        <div id="map" class="map"></div>
      </div>
      <div class="info">
        <b>OIB:</b> 02873134429, <b>MB:</b> 01201832<br>
        <b>IBAN:</b> HR0223600001101345027 - Zagrebačka banka<br>
        Trgovački sud u Zagrebu<br>
        <b>Temeljni kapital:</b> 1.487.900,00 kn<br>
        <b>Uprava:</b> direktor Emil Krznarić, mag. ing. aedif.
      </div>
    </section>
  </main>
{% endblock %}
