{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="main" role="main">
        <section>
            <h1 class="ref-heading"><a href="javascript:history.back()" class="u-url">{{ page.header.titlePath }}</a></h1><span class="references-title-path">{{ page.title }}</span>
            <hr>
            {{ page.content }}
        </section>
    </main>
{% endblock %}
