{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="main" role="main">
        <section>
            <h1><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>
            <hr>
            {{ page.content }}
        </section>
    </main>
{% endblock %}
