@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700");
@import url("https://fonts.googleapis.com/css?family=Reem+Kufi");
.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* Draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* Previous / Next Buttons */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 2%;
  background: rgba(25, 93, 126, 0.5);
  box-shadow: inset 0 50px 100px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  /* Vertically center */
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: rgba(255, 255, 255, 0.9); }
  .flickity-prev-next-button:hover .arrow {
    fill: #1B98E0; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  opacity: 0.6; }

.flickity-prev-next-button.previous {
  left: 5em; }

.flickity-prev-next-button.next {
  right: 5em; }

/* Right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: not-allowed; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #cecece; }

/* Page dots */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 3rem;
  height: 1rem;
  margin: 0 1rem;
  background: #195D7E;
  opacity: 0.25;
  cursor: pointer; }
  .flickity-page-dots .dot:hover {
    background: #1B98E0; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background: #195D7E; }
  .header .header-container {
    width: 100%;
    padding-top: 0; }
    .header .header-container .logo {
      padding: 4rem;
      height: auto;
      max-width: 40rem; }
      .header .header-container .logo img {
        height: 100%; }
    .header .header-container .infobar {
      display: -ms-flexbox;
      display: flex; }
      .header .header-container .infobar .infobar-box {
        height: 6rem;
        width: 31rem;
        color: #cecece;
        text-align: center; }
        .header .header-container .infobar .infobar-box.con {
          border-right: 1px solid rgba(255, 255, 255, 0.3); }
          .header .header-container .infobar .infobar-box.con > a {
            display: block;
            text-align: right;
            padding-right: 2rem;
            margin-top: -0.5rem; }
          .header .header-container .infobar .infobar-box.con > a > h4 {
            letter-spacing: 0.2rem; }
          .header .header-container .infobar .infobar-box.con > a.infobar-mail {
            font-weight: 700;
            margin-top: -1rem; }
          .header .header-container .infobar .infobar-box.con > a,
          .header .header-container .infobar .infobar-box.con > a > h4 {
            color: #cecece; }
            .header .header-container .infobar .infobar-box.con > a:hover,
            .header .header-container .infobar .infobar-box.con > a > h4:hover {
              color: #FFF; }
            .header .header-container .infobar .infobar-box.con > a > i,
            .header .header-container .infobar .infobar-box.con > a > h4 > i {
              font-size: 3rem; }
              .header .header-container .infobar .infobar-box.con > a > i.fa-phone,
              .header .header-container .infobar .infobar-box.con > a > h4 > i.fa-phone {
                padding-left: 0.5rem;
                margin-right: 1rem; }
        .header .header-container .infobar .infobar-box.lan {
          border-right: 1px solid rgba(255, 255, 255, 0.3);
          width: 10%;
          padding-top: 1.5rem; }
          .header .header-container .infobar .infobar-box.lan.active h4,
          .header .header-container .infobar .infobar-box.lan:hover h4 {
            color: #FFF; }
          .header .header-container .infobar .infobar-box.lan h4 {
            color: #cecece; }
        .header .header-container .infobar .infobar-box.soc {
          font-size: 3rem;
          padding-left: 2rem;
          padding-top: 1.5rem;
          width: auto; }
          .header .header-container .infobar .infobar-box.soc > a {
            color: #cecece; }
          .header .header-container .infobar .infobar-box.soc > a:hover {
            color: #FFF; }
          .header .header-container .infobar .infobar-box.soc > a > i.fa-linkedin {
            padding-right: 2rem; }
        .header .header-container .infobar .infobar-box i {
          float: left;
          cursor: pointer; }

nav.header-nav {
  position: relative;
  text-transform: uppercase;
  color: #cecece;
  font-weight: bold;
  z-index: 100;
  background: #FFF;
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  margin-bottom: -8rem;
  padding: 2rem; }
  nav.header-nav > ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin-bottom: 0; }
    nav.header-nav > ul li {
      display: block;
      list-style: none;
      height: 2rem;
      font-size: 2rem; }
      nav.header-nav > ul li .fa-home {
        margin-top: -0.5rem;
        font-size: 4rem; }
      nav.header-nav > ul li.active > a {
        color: #1B98E0; }
    nav.header-nav > ul .nav-divider {
      display: block;
      width: 1px;
      height: 4rem;
      background: rgba(0, 0, 0, 0.1); }

nav.footer-nav {
  text-transform: none;
  width: 60%;
  margin: 0;
  padding: 1rem 0 0 0; }
  nav.footer-nav > ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0; }
    nav.footer-nav > ul li {
      display: block;
      list-style: none; }
      nav.footer-nav > ul li > a {
        color: #cecece; }
        nav.footer-nav > ul li > a:hover {
          color: #FFF; }
      nav.footer-nav > ul li .fa-home {
        margin-top: 0.5rem;
        font-size: 3rem; }
      nav.footer-nav > ul li.active > a {
        color: white;
        font-weight: 700; }
    nav.footer-nav > ul .nav-divider {
      display: block;
      width: 1px;
      margin-top: -0.5rem;
      height: 3rem;
      background: rgba(255, 255, 255, 0.3); }

main {
  padding-top: 4rem;
  -ms-flex: 1;
  flex: 1; }

.bloghr {
  margin: 6rem 0 3rem 0; }

html {
  height: 100%; }

body {
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.header-container,
nav,
.slider-item-infobox-container {
  padding: 4rem 0;
  margin: 0 auto; }

section {
  padding: 5rem;
  margin: 0 auto; }

.slider {
  width: 100%;
  height: 50rem; }

.slider-content {
  width: 100%;
  height: 50rem;
  background: red; }

.slider-item-infobox-container {
  position: relative; }

#slider-1 {
  background: url("../img/sliders/projektiranje-1.png");
  background-size: cover; }

#slider-2 {
  background: url("../img/sliders/nadzor-1.jpg");
  background-size: cover; }

#slider-3 {
  background: url("../img/sliders/gradjenje-1.jpg");
  background-size: cover; }

.slider-item {
  width: 100%;
  height: 50rem; }

.slider-item-infobox {
  position: relative;
  width: 58rem;
  height: 33rem;
  margin-top: 12rem;
  background: rgba(25, 93, 126, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  z-index: 80;
  padding: 3rem 5rem; }
  .slider-item-infobox h4 {
    margin-top: 0;
    padding: 0;
    color: #FFF; }
  .slider-item-infobox p {
    font-weight: 300;
    color: #FFF; }
  .slider-item-infobox > hr {
    margin-bottom: 1rem;
    padding: 0; }
  .slider-item-infobox a.button {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    background: #FFF;
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); }

.blog-date {
  display: inline-block;
  text-align: right;
  text-transform: uppercase;
  font-size: 1em;
  color: #cecece;
  width: 39%; }

.blog-heading {
  display: inline-block;
  width: 60%; }

.blog-images {
  text-align: center; }

.blog-img {
  margin: 10rem;
  width: 30rem; }

.blog-img2 {
  margin: 2rem;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.contacts-container {
  margin-top: -1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center; }
  .contacts-container #zg {
    text-align: left; }
  .contacts-container #kt {
    text-align: right; }
  .contacts-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 300; }
    .contacts-container ul > li a {
      font-family: "Roboto";
      color: #444; }
    .contacts-container ul > li .infraterra {
      font-family: "Reem Kufi";
      font-size: 2em;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      margin-bottom: 0;
      padding: 0; }
      .contacts-container ul > li .infraterra + b {
        font-size: 1.5em;
        padding-left: 1rem; }
    .contacts-container ul > li .fa {
      width: 1.5rem;
      display: inline-block;
      text-align: center;
      line-height: 1.5rem;
      margin-right: 1rem; }
      .contacts-container ul > li .fa.fa-map-marker {
        padding-top: 1rem; }

.contacts-tab-links li:hover {
  color: #1B98E0; }

.map,
.contacts {
  height: 35rem; }

.contacts {
  width: 35%;
  max-width: 440px;
  min-width: 320px; }

.map {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 62.99%;
  margin-left: 10rem;
  margin-top: 1.5rem;
  max-width: 63rem; }
  .map:hover {
    box-shadow: 0 0 20px rgba(25, 93, 126, 0.2); }

ul.contacts-tab-links li {
  position: relative;
  text-transform: uppercase;
  padding: 1rem 0;
  width: 49%;
  display: inline-block;
  cursor: pointer; }
  ul.contacts-tab-links li > h4 {
    font-weight: 300; }
  ul.contacts-tab-links li:last-of-type {
    text-align: right; }
  ul.contacts-tab-links li:first-of-type:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 6rem;
    background: rgba(0, 0, 0, 0.1); }

ul.contacts-tab-links li.active > h4 {
  font-weight: bold;
  color: #195D7E; }

ul.contacts-tab-links li.active:hover {
  color: #1B98E0; }

.contacts-tab {
  display: none;
  padding: 1rem; }

.contacts-tab.active {
  height: auto;
  display: inherit;
  position: relative;
  z-index: 10;
  background: #FFF; }

.info {
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #666;
  padding-top: 10rem;
  opacity: 0.8;
  margin: 0 auto;
  text-align: center; }

.infowindow {
  padding-left: 2rem; }
  .infowindow > h1 {
    margin: 0;
    padding: 0; }
  .infowindow > h3 {
    margin: 0;
    padding: 0;
    font-weight: 300; }

.gm-style-iw + div {
  display: none; }

.upper {
  text-transform: uppercase;
  font-size: 1em;
  color: #cecece; }

.structures-container {
  margin-top: -1rem; }
  .structures-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 300; }

ul.structures-tab-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0; }
  ul.structures-tab-links > li {
    position: relative;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    text-align: center;
    height: 3rem; }
    ul.structures-tab-links > li:first-of-type {
      text-align: left; }
    ul.structures-tab-links > li:last-of-type {
      text-align: right; }
    ul.structures-tab-links > li.active > h4 {
      font-weight: bold;
      color: #195D7E; }
    ul.structures-tab-links > li:hover {
      color: #1B98E0; }
    ul.structures-tab-links > li > h4 {
      font-weight: 300; }

.structures-tab-divider {
  display: block;
  width: 1px;
  height: 6rem;
  background: rgba(0, 0, 0, 0.1); }

.structures-tab {
  display: none; }

.structures-tab.active {
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10; }

ul.structure-list {
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  ul.structure-list > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 2rem; }
  ul.structure-list > li > div > b > a {
    margin-bottom: -3rem;
    font-size: 1.20em;
    font-weight: 700; }
  ul.structure-list > li > div > a {
    font-size: 1.20em;
    font-weight: 300; }
    ul.structure-list > li > div > a > i {
      margin-right: 1rem; }

.structure-text {
  margin-top: 4rem; }

.references-container {
  margin-top: -1rem; }
  .references-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 300; }

ul.references-tab-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0; }
  ul.references-tab-links > li {
    position: relative;
    text-transform: uppercase;
    display: block;
    width: 24rem;
    cursor: pointer;
    text-align: center;
    height: 3rem; }
    ul.references-tab-links > li:first-of-type {
      text-align: left; }
    ul.references-tab-links > li:last-of-type {
      text-align: right; }
    ul.references-tab-links > li.active > h4 {
      font-weight: bold;
      color: #195D7E; }
    ul.references-tab-links > li:hover {
      color: #1B98E0; }
    ul.references-tab-links > li > h4 {
      font-weight: 300; }

.references-tab-divider {
  display: block;
  width: 1px;
  height: 6rem;
  background: rgba(0, 0, 0, 0.1); }

.references-tab {
  display: none; }

.references-tab.active {
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10; }

ul.reference-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 4rem;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  ul.reference-list > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin: 4rem;
    height: 20rem;
    width: 40rem; }
  ul.reference-list > li > a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: 700; }
  ul.reference-list > li > a > img,
  ul.reference-list > li > img {
    height: 15rem;
    width: 15rem;
    padding: 2rem;
    margin-bottom: 2rem; }
    ul.reference-list > li > a > img:hover,
    ul.reference-list > li > img:hover {
      box-shadow: 0 0 80px rgba(25, 93, 126, 0.4);
      transition: 0.8s; }

ul.item-list {
  margin-top: 4rem;
  width: 100%;
  list-style-type: square;
  list-style-position: outside;
  margin-left: 2rem; }

.references-title-path {
  display: inline-block;
  font-size: 1em;
  color: #cecece;
  text-transform: uppercase;
  width: 59.99%;
  text-align: right; }

.ref-heading {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 40%; }

ul.item-list {
  text-align: justify; }
  ul.item-list > li {
    display: list-item;
    margin-bottom: 2rem; }

footer {
  background: #195D7E;
  padding: 1rem 0;
  font-weight: 300; }
  footer .footer-container {
    position: relative;
    margin: 0 auto;
    color: #cecece;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }
    footer .footer-container small {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -ms-flex-align: center;
      align-items: center;
      height: 3rem; }
      footer .footer-container small > b > a {
        font-weight: 700;
        color: #FFF; }
      footer .footer-container small .copyright-line:after {
        display: inline-block;
        margin: 1rem 2rem 0 2rem;
        content: '';
        width: 1px;
        height: 3rem;
        background: rgba(255, 255, 255, 0.3); }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto';
  font-size: 1.8rem;
  line-height: 1.618;
  background-color: #FFF;
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  color: #195D7E;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  font-weight: 700; }

h1 {
  font-size: 2.35em; }

h2 {
  font-size: 2.00em; }

h3 {
  font-size: 1.75em;
  text-transform: uppercase; }

h4 {
  font-size: 1.5em;
  text-transform: uppercase; }

h5 {
  font-size: 1.25em;
  margin-top: 4rem; }

h6 {
  font-size: 1em; }

sub, sup {
  font-size: 75%; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 3rem; }

p {
  letter-spacing: 0.02rem;
  margin-bottom: 1.5rem;
  text-align: justify; }

ul, ol {
  padding-left: 1.4em;
  margin-bottom: 1.5rem; }

ul {
  list-style-type: square; }

li {
  margin-bottom: 0.4em; }

a {
  color: #195D7E;
  text-decoration: none; }
  a:hover {
    color: #1B98E0; }

::-moz-selection {
  background: #195D7E;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #195D7E;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #195D7E;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #195D7E;
  color: #fff;
  text-shadow: none; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  main {
    font-size: 75%; }
    main > section {
      padding: 4rem 2rem 0 2rem; }
      main > section > p {
        text-align: left; }
  .blog-heading {
    float: left; }
  .blog-date {
    float: right; }
  nav.header-nav {
    width: 100%;
    min-width: 320px; }
    nav.header-nav ul {
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      -ms-flex-align: center;
      align-items: center; }
      nav.header-nav ul > .nav-divider {
        transform: rotate(90deg);
        height: 1rem;
        width: 1px;
        margin: 0;
        padding: 0; }
      nav.header-nav ul > li:nth-of-type(3) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        height: 4rem;
        padding-top: 1rem;
        line-height: 2.5rem; }
  .infobar {
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2rem; }
    .infobar > .infobar-box.con {
      display: none; }
    .infobar > .infobar-box.lan {
      padding-right: 5.5rem;
      padding-left: 2rem;
      font-size: 100%;
      margin-right: 0; }
  .logo {
    width: 100%;
    max-width: 320px;
    margin: 0 auto; }
  .slider {
    display: none; }
  .contacts-container {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    .contacts-container > .contacts {
      padding: 0 2rem;
      margin: 0; }
      .contacts-container > .contacts > .contacts-tab {
        margin: 0;
        padding: 0; }
    .contacts-container > .map {
      width: 100%;
      margin: 0;
      margin-top: -5rem;
      padding: 0; }
  .info {
    font-size: 75%;
    margin-top: -3rem;
    margin-bottom: 2rem; }
  nav.footer-nav {
    display: none; }
  .contentinfo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer-container > small {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    width: 100%;
    padding: 0;
    margin: 0; }
  .structures-tab-links,
  .references-tab-links {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .structures-tab-links > .structures-tab-divider,
    .structures-tab-links > .references-tab-divider,
    .references-tab-links > .structures-tab-divider,
    .references-tab-links > .references-tab-divider {
      transform: rotate(90deg);
      height: 1rem;
      width: 1px;
      margin: 0;
      padding: 0; }
    .structures-tab-links > #uprava,
    .structures-tab-links > #projektanti,
    .structures-tab-links > #nadzor,
    .structures-tab-links > #gradenje,
    .structures-tab-links > #projektiranje,
    .structures-tab-links > #nadzor,
    .structures-tab-links > #građenje,
    .references-tab-links > #uprava,
    .references-tab-links > #projektanti,
    .references-tab-links > #nadzor,
    .references-tab-links > #gradenje,
    .references-tab-links > #projektiranje,
    .references-tab-links > #nadzor,
    .references-tab-links > #građenje {
      text-align: center; }
  .blog-images > a > .blog-img,
  .blog-images > .blog-img {
    margin: 2rem;
    width: 20rem; }
  .blog-img2 {
    margin: 2rem 0;
    width: 100%; }
  .references-title-path {
    display: none; }
  ul.structure-list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start; }
    ul.structure-list > li > div > b > a {
      display: -ms-flexbox;
      display: flex;
      margin-bottom: -2rem;
      font-size: 1.2em;
      font-weight: 700; }
    ul.structure-list > li > div > a {
      font-size: 0.9em;
      font-weight: 300; }
      ul.structure-list > li > div > a > i {
        margin-right: 1rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .infobar {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    -ms-flex-pack: center;
    justify-content: center; }
    .infobar > .infobar-box {
      font-size: 75%; }
      .infobar > .infobar-box.con > .infobar-tel {
        padding-top: 1rem; }
      .infobar > .infobar-box.lan {
        padding-right: 5.5rem;
        padding-left: 2rem;
        font-size: 100%;
        margin-right: 0; }
      .infobar > .infobar-box > .infobar-tel > .fa,
      .infobar > .infobar-box > .infobar-mail > .fa {
        padding-left: 2rem;
        font-size: 50%; }
      .infobar > .infobar-box > .infobar-tel > .fa {
        margin-left: 2rem; }
  .logo {
    width: 100%;
    margin: 0 auto;
    float: none; }
  .footer-contacts-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 90%; }
  .footer-contacts {
    width: 100%; }
  .footer-map {
    margin: 0;
    width: 100%;
    min-width: 320px; }
  nav.footer-nav {
    width: 65%;
    font-size: 75%; }
  .footer-container {
    padding: 0 3.5rem;
    width: 100%; }
    .footer-container small {
      margin-top: 0.5rem;
      font-size: 75%;
      width: 34.99%; }
  .flickity-prev-next-button {
    display: none; }
  .blog-images > .blog-img {
    margin: 2rem;
    width: 20rem; }
  ul.structure-list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start; }
    ul.structure-list > li > div > b > a {
      display: -ms-flexbox;
      display: flex;
      margin-bottom: -2rem;
      font-size: 1.25em;
      font-weight: 700; }
    ul.structure-list > li > div > a {
      font-size: 1.25em;
      font-weight: 300; }
      ul.structure-list > li > div > a > i {
        margin-right: 1rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  nav,
  section,
  .header-container,
  .slider-content,
  .footer-container,
  .slider-item-infobox-container {
    max-width: 920px; }
  .header-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center; }
  .logo {
    width: 50%;
    margin: 0 auto; }
  .infobar {
    padding: 0;
    margin: 3rem 0;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  nav.header-nav {
    width: 100%; }
    nav.header-nav ul {
      text-align: center;
      -ms-flex-align: center;
      align-items: center; }
  nav.footer-nav {
    width: 65%; }
  .footer-container {
    padding: 0 3.5rem;
    width: 100%; }
    .footer-container small {
      width: 34.99%; }
  .flickity-prev-next-button {
    display: none; }
  .blog-images > .blog-img {
    margin: 2rem;
    width: 30rem; }
  ul.structures-tab-links {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  ul.structure-list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start; }
    ul.structure-list > li > div > b > a {
      display: -ms-flexbox;
      display: flex;
      margin-bottom: -2rem;
      font-size: 1.25em;
      font-weight: 700; }
    ul.structure-list > li > div > a {
      font-size: 1.25em;
      font-weight: 300; }
      ul.structure-list > li > div > a > i {
        margin-right: 1rem; } }

@media only screen and (min-width: 1280px) {
  nav,
  section,
  .header-container,
  .slider-content,
  .footer-container,
  .slider-item-infobox-container {
    max-width: 1152px; }
  html {
    overflow-y: scroll; }
  .logo {
    width: 33%;
    float: left; }
  .footer-container {
    width: 100%;
    padding: 0 5rem 0 4rem; }
    .footer-container small {
      width: 25%; }
  .infobar {
    width: 65%;
    float: right;
    padding: 8rem 2rem 2rem 0;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  ul.structure-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4rem;
    width: 100%; }
    ul.structure-list > li {
      width: 40rem;
      height: 5rem;
      margin-bottom: 6rem; } }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
