@media only screen and (min-width: 320px) and (max-width: 767px) {

    //mobile
    main {
        font-size: 75%;
        & > section {
            padding: 4rem 2rem 0 2rem;
            & > p {
                text-align: left;
            }
        }
    }

    .blog-heading {
        float: left;
    }

    .blog-date {
        float: right;
    }

    nav.header-nav {
        width: 100%;
        min-width: 320px;
        ul {
            flex-direction: column;
            text-align: center;
            align-items: center;

            & > .nav-divider {
                transform: rotate(90deg);
                height: 1rem;
                width: 1px;
                margin: 0;
                padding: 0;
            }

            & > li:nth-of-type(3) {
                display: flex;
                align-items: center;
                height: 4rem;
                padding-top: 1rem;
                line-height: 2.5rem;
            }
        }
    }

    .infobar {
        justify-content: center;
        margin-bottom: 2rem;

        & > .infobar-box {
            &.con {
                display: none;
            }

            &.lan {
                padding-right: 5.5rem;
                padding-left: 2rem;
                font-size: 100%;
                margin-right: 0;
            }
        }
    }

    .logo {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    .slider {
        display: none;
    }

    .contacts-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > .contacts {
            padding: 0 2rem;
            margin: 0;
            & > .contacts-tab {
                margin: 0;
                padding: 0;
            }
        }

        & > .map {
            width: 100%;
            margin: 0;
            margin-top: -5rem;
            padding: 0;
        }
    }

    .info {
        font-size: 75%;
        margin-top: -3rem;
        margin-bottom: 2rem;
    }

    nav.footer-nav {
        display: none;
    }

    .contentinfo {
        display: flex;
        justify-content: center;
    }

    .footer-container {
        & > small {
            justify-content: center !important;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    .structures-tab-links,
    .references-tab-links {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        & > .structures-tab-divider,
        & > .references-tab-divider {
            transform: rotate(90deg);
            height: 1rem;
            width: 1px;
            margin: 0;
            padding: 0;
        }

        & > #uprava,
        & > #projektanti,
        & > #nadzor,
        & > #gradenje,
        & > #projektiranje,
        & > #nadzor,
        & > #građenje {
            text-align: center;
        }
    }

    .blog-images {
        & > a > .blog-img,
        & > .blog-img {
            margin: 2rem;
            width: 20rem;
        }
    }

    .blog-img2 {
      margin: 2rem 0;
      width: 100%;
    }

    .references-title-path {
        display: none;
    }

    ul.structure-list {
        flex-direction: column;
        align-items: flex-start;

        & > li > div > b > a {
            display: flex;
            margin-bottom: -2rem;

            font-size: 1.2em;
            font-weight: 700;
      }

        & > li > div > a {
            font-size: 0.9em;
            font-weight: 300;
            & > i {
              margin-right: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    //tablets
    .infobar {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2rem;
        justify-content: center;

        & > .infobar-box {
            font-size: 75%;

            &.con {
                & > .infobar-tel {
                    padding-top: 1rem;
                }
            }

            &.soc {

            }

            &.lan {
                padding-right: 5.5rem;
                padding-left: 2rem;
                font-size: 100%;
                margin-right: 0;
            }

            & > .infobar-tel > .fa,
            & > .infobar-mail > .fa {
                padding-left: 2rem;
                font-size: 50%;
            }

            & > .infobar-tel > .fa {
                margin-left: 2rem;
            }
        }
    }

    .logo {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .footer-contacts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        width: 90%;
    }

    .footer-contacts {
        width: 100%;
    }

    .footer-map {
        margin: 0;
        width: 100%;
        min-width: 320px;
    }

    nav.footer-nav {
        width: 65%;
        font-size: 75%;
    }

   .footer-container {
        padding: 0 3.5rem;
        width: 100%;

        & small {
            margin-top: 0.5rem;
            font-size: 75%;
            width: 34.99%;
        }
    }

    .flickity-prev-next-button {
        display: none;
    }

    .blog-images {
        & > .blog-img {
            margin: 2rem;
            width: 20rem;
        }
    }

    ul.structure-list {
        flex-direction: column;
        align-items: flex-start;

        & > li > div > b > a {
            display: flex;
            margin-bottom: -2rem;

            font-size: 1.25em;
            font-weight: 700;
      }

        & > li > div > a {
            font-size: 1.25em;
            font-weight: 300;
            & > i {
              margin-right: 1rem;
            }
        }
    }
}

@media only screen and (min-width:1024px) and (max-width:1279px) {

    //bigger tablets like iPad pro and smaller desktops
    nav,
    section,
    .header-container,
    .slider-content,
    .footer-container,
    .slider-item-infobox-container {
        max-width: 920px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 50%;
        margin: 0 auto;
    }

    .infobar {
        padding: 0;
        margin: 3rem 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    nav.header-nav {
        width: 100%;
        ul {
            text-align: center;
            align-items: center;

        }
    }

    nav.footer-nav {
        width: 65%;
    }

   .footer-container {
        padding: 0 3.5rem;
        width: 100%;

        & small {
            width: 34.99%;
        }
    }

    .flickity-prev-next-button {
        display: none;
    }

    .blog-images {
        & > .blog-img {
            margin: 2rem;
            width: 30rem;
        }
    }

    ul.structures-tab-links {
        justify-content: space-around;
    }

    ul.structure-list {
        flex-direction: column;
        align-items: flex-start;

        & > li > div > b > a {
            display: flex;
            margin-bottom: -2rem;

            font-size: 1.25em;
            font-weight: 700;
      }

        & > li > div > a {
            font-size: 1.25em;
            font-weight: 300;
            & > i {
              margin-right: 1rem;
            }
        }
    }
}

@media only screen and (min-width:1280px) {

    //other desktops
    nav,
    section,
    .header-container,
    .slider-content,
    .footer-container,
    .slider-item-infobox-container {
        max-width: 1152px;
    }

    html {
        overflow-y: scroll;
    }

    .logo {
        width: 33%;
        float: left;
    }

    .footer-container {
        width: 100%;
        padding: 0 5rem 0 4rem;
        & small {
            width: 25%;
        }
    }

    .infobar {
        width: 65%;
        float: right;
        padding: 8rem 2rem 2rem 0;
        justify-content: flex-end;
        align-items: center;
    }

    ul.structure-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 4rem;
      width: 100%;

      & > li {
        width: 40rem;
        height: 5rem;
        margin-bottom: 6rem;
      }
    }
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}
