::selection{
  background: $infraterra;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: $infraterra;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: $infraterra;
  color: #fff;
  text-shadow: none;
}
