@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

html {
  font-size: 62.5%; // Root size 10px
}

body {
  font-family: 'Roboto';
  font-size: $font-size-base;
  line-height: 1.618;
  background-color: $bodybg;
  color: $bodytext;
}

h1, h2, h3, h4, h5, h6 {
    color: $infraterra;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h1 { font-size: 2.35em }
h2 { font-size: 2.00em }
h3 {
  font-size: 1.75em;
  text-transform: uppercase;
}
h4 {
  font-size: 1.5em;
  text-transform: uppercase;
}
h5 {
  font-size: 1.25em;
  margin-top: 4rem;
}
h6 { font-size: 1em }

sub, sup {
    font-size: 75%;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 3rem;
}

p {
    letter-spacing: 0.02rem;
    margin-bottom: 1.5rem;
    text-align: justify;
}

ul, ol {
    padding-left: 1.4em;
    margin-bottom: 1.5rem;
}

ul {
  list-style-type: square;
}

li {
    margin-bottom: 0.4em;
}

a {
  color: $infraterra;
  text-decoration: none;

  &:hover {
    color: $hover;
  }
}
