//----------------------------------*\
// FONT SIZES
//----------------------------------*/
$font-size-base: 1.8rem;

//----------------------------------*\
// ELEMENT COLORS
//----------------------------------*/
$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

//----------------------------------*\
// TEXT COLORS
//----------------------------------*/
$bodybg: #FFF;
$infraterra: #195D7E;
$hover: #1B98E0;
$headings: #222;
$bodytext: #444;
